<<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading" align="center">
        <h2></span> 修改密码</h2>
      </div>
      <div class="panel-body">

        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
           <%= render 'shared/error_messages', :object => @user%>
            <%= hidden_field_tag :email, @user.email %>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <%= f.password_field :password, class: 'form-control', placeholder: "输入新密码" %>
              </div>
            </div>

            <div>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "再次输入密码" %>
              </div>
            <br>
            </div>
            <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
                <span class="glyphicon glyphicon-off"></span>更改密码
            <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

